@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}

.b1{
  font-size: 13px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: gray;
  text-align: left;
  text-decoration: underline;
  display: block;
  cursor: pointer;

}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #acd4fc;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    height: 30vh;
}

.formLogin h1 {
    padding-top: 11vmin;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin a {
    align-self: center;
    display: inline-block;
    margin: 20px;
    font-size: 30px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #acd4fc;
}

.logo {
    width: 200px;
    height: auto;
    position: absolute;
    align-self: center;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hideLoading 0.5s ease forwards;
    animation-delay: 1s; 
    z-index: 9999;
  }
  
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #add8f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes hideLoading {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }