* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #add8f6; /* Azul claro */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: start;
  }
  
  header {
    width: 100%;
    background-color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .texto-carregar {
    font-size: 1.2rem;
    color: #333;
  }
  
  @media (max-width: 600px) {
    .loader {
      width: 40px;
      height: 40px;
      border-width: 6px;
    }
  
    .texto-carregar {
      font-size: 1rem;
    }
  
    .logo {
      width: 40vmin;
      height: auto;
    }
  }